@import url("https://use.typekit.net/elu6hhy.css");

* {
    /* feel free to update these css variables for a quick theme */
    
    --grape: hsla(252, 56%, 32%, 1);
    --blueberry: hsla(252, 63%, 49%, 1);
    --grapeTrans: hsla(252, 56%, 32%, 0.35);
    --grapeTransHeavy: hsla(252, 56%, 32%, 0.75);
    --blueberryTrans: hsla(252, 63%, 49%, 0.35);
    --lime: hsla(79, 69%, 47%, 1);
    --cherry: hsla(330, 86%, 27%, 1);
    --limeTrans: hsla(79, 69%, 47%, .75);
    --cherryTrans: hsla(330, 86%, 27%, .85);
    --strawberry: hsla(330, 71%, 47%, 1);

    /* background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('images/background.jpg'); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --footer-shadow: 0px 0px 20px 1px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 35px;
    
    font-family: adhesive-nr-seven, serif;
    font-family: fleisch-wolf, sans-serif;
    font-family: fleisch-wurst, sans-serif;
    font-family: skolar-sans-latin, sans-serif;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    justify-content: flex-end;
    /* background-color: var(--lime); */
    height: var(--header-height);
    box-shadow: var(--shadow);
    background-image: linear-gradient(var(--grapeTransHeavy), var(--grapeTransHeavy)), url('../assets/rock01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 5px solid var(--cherry);
}

header img {
    height: var(--header-height);
}

body{
    background-image: linear-gradient( var(--blueberryTrans), var(--grapeTrans)), url('../assets/dungeon.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    box-shadow: var(--footer-shadow);
    background-image: linear-gradient(var(--grapeTransHeavy), var(--blueberryTrans)), url('../assets/rock01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Titillium Web', sans-serif;
    border-top: 5px solid var(--cherry);
    color: var(--lime);
}

main {
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

#game-holder{
    width: 1600px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: calc(100vh - 105px);

}

.gutter-right {
    margin-right: 20px;
}

#player-panel{
    width: 500px;
    /* height: 100vh; */
    min-height: calc(100vh - 105px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

#dead-goblins{
    height: 50px;
    position: fixed;
    top: 90px;
    position: fixed;
    top: 90px;
    font-size: 1.5rem;
    font-family: fleisch-wolf, sans-serif;
    background-color: var(--strawberry);
    color: var(--lime);
    padding: 10px 10px 40px 10px; 
    border: 2px outset var(--blueberry);
}

#player-name{
    font-family: fleisch-wolf, sans-serif;
    font-size: 1.75rem;
    letter-spacing: .125rem;
    color: var(--lime);
    padding: 5px; 
    background-color: var(--cherry);
}

#char-sheet{
    display: flex;
    flex-direction: column;
    border: 3px solid var(--blueberry);
}

#char-stats{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

#char-class{
    font-weight: 700;
    min-width: 100%;
    color: var(--cherry);
    background-color: var(--lime);
    padding-left: 5px;
}

#hit-points{
    font-weight: 900;
    font-size: 1.5rem;
    background-color: var(--cherry);
    padding-left: 5px;
    min-width: 100%;
    color: var(--lime);
}

#middle-section{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-family: fleisch-wolf, sans-serif;
    color: var(--lime);
}

#super{
    font-size: 5rem;
}

#goblin{
    font-size: 8rem;
    position: relative;
    top: -20px;
}

#fighter{
    position: relative;
    top: -45px;
    font-size: 7rem;
}

#super, #goblin, #fighter{
    text-shadow: 0 1px var(--strawberry),
                0 2px var(--strawberry),
                0 3px var(--strawberry),
                0 4px var(--strawberry),
                0 5px var(--strawberry),
                0 6px var(--strawberry),
                0 7px var(--strawberry),
                0 8px var(--strawberry);
}

#goblin-panel{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goblin-card{
    width: 160px;
    height: 160px;
    background-color: var(--lime);
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;
    border: 3px solid var(--blueberry);
    object-fit: contain
}

.goblin-card:hover{
    box-shadow: 0 0 10px var(--lime);
}

.goblin-stats{
    position: relative;
    bottom: 90px;
    z-index: 100;
}

.goblin-class{
    letter-spacing: .063rem;    
    width: inherit;
    background-color: var(--limeTrans);
    padding-left: 5px;
}

.goblin-hp{
    background-color: var(--cherryTrans);
    padding-left: 5px;
    font-size: 1.5rem;
    color: var(--lime);
    font-weight: 900;
}

.goblin-image{
    object-fit: cover;
}

.dead{
    opacity: 35%;
    cursor: default; 
}

.dead:hover{
    box-shadow: none;
}

#add-goblin{
    position: fixed;
    top: 90px;
    width: 300px;
    font-family: fleisch-wolf, sans-serif;
    cursor: pointer;
    background-color: var(--strawberry);
    color: var(--lime);
    padding: 10px 0;
    font-size: 1.5rem;
    border: 2px outset var(--blueberry);

}

#add-goblin:hover{
    background-color: var(--cherry);
}

#add-goblin:active{
    background-color: var(--blueberry);
}

.player-chooser{
    position: fixed;
    top:0;
    left:0;
    background-color: var(--grapeTrans);
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chooser-tray{
    width: 1100px;
    height: 700px;
    background: linear-gradient(var(--grapeTransHeavy), var(--blueberryTrans)), url('../assets/portal.jpg');
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid var(--lime);
    object-fit: cover;

}

#chooser-header{
    font-family: fleisch-wolf, sans-serif;
    color: var(--lime);
    letter-spacing: .125rem;
    margin-top: 50px;
    font-size: 3rem;
}

#sub-text{
    position: relative;
    top: -10px;
    color: var(--lime);
    font-size: 1.5rem;
}

#player-name-input{
    font-family: fleisch-wolf, sans-serif;
    font-size: 1.5rem;
    padding-left: 5px;
    margin: 20px 0 10px 0;
    background-color: var(--cherry);
    color: var(--lime);
    letter-spacing: .125rem;
}

.hero-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    background-color: var(--grape);
    margin-right: 20px;
    border-radius: 5px;
    border: 1px solid var(--lime);
}

.hero-box:last-child{
    margin-right: 0;
}

.hero-box:hover{
    box-shadow: 0 0 15px var(--lime);
}

.hero{
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    object-position: top;
}

.hero-name{
    /* position: relative;
    top: -5px; */
    color: var(--lime);
    padding-bottom: 3px;
}

.heroes{
    margin-top: 30px;
    display: flex;
}

.visibility{
    visibility: hidden;
}